@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 213, 255);
  background: linear-gradient(
    328deg,
    rgba(0, 213, 255, 1) 0%,
    rgba(80, 95, 239, 1) 100%
  );
}
